body {
  padding: 50px;
  font-family: "Ubuntu", sans-serif;
}

.blogs-list-container {
  overflow: auto !important;
}

.editor-container {
}

.md-editor {
  width: 100% !important;
  margin-top: 32px !important;
}

.md-editor-display {
}

.edit-page-toolbar {
  margin-top: 16px !important;
  position: absolute !important;
  top: 0 !important;
  width: calc(100% - 100px) !important;
  background-color: white !important;
}

.blog-title-container {
  width: 100% !important;
  margin-top: 50px !important;
}

.blog-title {
  width: 100% !important;
  font-size: 21px !important;
  font-weight: bold !important;
  outline: none !important;
  border: 1px solid gainsboro !important;
  border-radius: 4px !important;
  padding: 8px 12px 8px 12px !important;
}
